@model DC_Comic.ViewModels.CharacterFormViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Characters"))

{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Character.Name)
        @Html.TextBoxFor(m => m.Character.Name, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Character.Powers)
        @Html.TextBoxFor(m => m.Character.Powers, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.Powers)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Character.Occupation)
        @Html.TextBoxFor(m => m.Character.Occupation, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.Occupation)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Character.Location)
        @Html.TextBoxFor(m => m.Character.Location, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.Location)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Character.Alignment)
        @Html.DropDownListFor(m => m.Character.AlignmentId, new SelectList(Model.Alignment, "Id", "alignmentType"), "Select alignment type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Character.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Character.picString)
        @Html.TextBoxFor(m => m.Character.picString, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.picString)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Character.profilePic)
        @Html.TextBoxFor(m => m.Character.profilePic, new { @class = "form-control", })
        @Html.ValidationMessageFor(m => m.Character.profilePic)
    </div>



    @Html.HiddenFor(m => m.Character.Id)

    <button type="submit" class="btn btn-primary">Create</button>

}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




